:root {
  --bg-color: #f9f9f9;
  --nb-bg-color: #d4a2f4;
  --nb-text-color: #000000;
  --nb-shadow-color: rgba(0, 0, 0, 0.2);
  --ini-titresena-color: #123558;
  --ini-tevent-bgcolor: #ffffff;
  --ini-tevent-txtcolor: #123558;
  --ini-bgconv-color: #123558;
  --map-shadow: rgba(0, 0, 0, 0.15);
  --cont--bg-color: #f9f9f9;
  --cont-label-color: #333;
  --cont-input-color: #ffffff;
  --navbar-bg: #F5F5F5;
  --navbar-text: #222;
  --navbar-icon: #222;
  --navbar-icon-hover: #d4a2f4; /* <-- lila pastel */
  --navbar-categoria: #222;
  --navbar-categoria-hover: #d4a2f4;
}

[data-theme='dark'] {
  --nb-bg-color: #121212;
  --nb-text-color: #ffffff;
  --nb-shadow-color: rgba(255, 255, 255, 0.313);
  --ini-titresena-color: #3191f1;
  --ini-tevent-bgcolor: #777777;
  --ini-tevent-txtcolor: #ffffff;
  --ini-bgconv-color: #0b223b;
  --map-shadow: rgba(255, 255, 255, 0.257);
  --cont--bg-color: #616161;
  --cont-label-color: #ffffff;
  --cont-input-color: #8f8f8f;
  --navbar-bg: #181818;
  --navbar-text: #f5f5f5;
  --navbar-icon: #d4a2f4;
  --navbar-icon-hover: #fff;
  --navbar-categoria: #f5f5f5;
  --navbar-categoria-hover: #d4a2f4;
}
